<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="application/adaptivecard+json">
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "originator": "",
    "body": [
        {
            "type": "TextBlock",
            "text": "{{HeaderTitle}}",
            "wrap": true,
            "style": "heading"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",  e9141d3f-f2aa-4311-ac03-fbd7bb40345e
                    "items": [
                        {
                            "type": "Image",
                            "style": "Person",
                            "url": "{{creator.profileImage}}",
                            "altText": "{{creator.name}}",
                            "size": "Small"
                        }
                    ],
                    "width": "auto"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "{{creator.name}}",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "spacing": "None",
                            "text": "Created Fri, 09:09:2022",
                            "isSubtle": true,
                            "wrap": true
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "TextBlock",
            "text": "{{description}}",
            "wrap": true
        },
        {   
            "type": "FactSet",
            "facts": [
                {
                    "title": "Candidate Name",
                    "value": "{{CandidateName}}"
                },
                {
                    "title": "Candidate ID",
                    "value": "{{CandidateID}}"
                },
                {
                    "title": "Job ID",
                    "value": "{{JobID}}"
                },
                {
                    "title": "Experience",
                    "value": "{{Experience}}"
                }
            ]
        }
    ],
    "actions": [
        {
            "type": "Action.ShowCard",
            "title": "Propose Alternate Time",
            "card": {
                "type": "AdaptiveCard",
                "body": [
                    {
                        "type": "Input.Date",
                        "id": "option1"
                    },
                    {
                        "type": "Input.Date"
                    },
                    {
                        "type": "Input.Text",
                        "id": "comment",
                        "placeholder": "Add a comment",
                        "isMultiline": true
                    }
                ],
                "actions": [
                    {
                        "type": "Action.Http",
                        "title": "Accept",
                        "url": "https://9ec9c0b6trial-dev-btp-documentation-srv.cfapps.us10.hana.ondemand.com/documents/sendPayload",
                        "method": "POST",
                        "body": "{'to' : '{{comment.value}}','Subject' : '{{option1.value}}'}",
                        "headers": [{
                            "name": "Content-type",
                            "value": "application/json"
                        }]
                    }
                ],
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json"
            }
        },
        {
            "type": "Action.Http",
            "title": "Accept",
            "url": "https://9ec9c0b6trial-dev-btp-documentation-srv.cfapps.us10.hana.ondemand.com/documents/sendPayload",
            "method": "POST",
            "body": "{'to' : '{{comment.value}}', 'Subject' : '{{option1.value}}'}",
            "headers": [{
                "name": "Content-type",
                "value": "application/json"
            }]
        }
    ]
}
</script>
</head>
If the card doesn&#39;t appear, <a target="_blank"
    href="https://store.office.com/app.aspx?assetid=WA104381686&productgroup=Outlook&mktvid=PN102957641&mktcmpid=sendmailsample" />install
Actionable Messages Debugger Outlook add-in</a> to debug the issue.

<body>
</body>

</html>